.BotonParaCrearNuevaTarea {
    font-size: 16px;
    color: white;
    background-color: rgb(0, 72, 255);
    border: none;
    border-radius: 20px;
    width: 200px;
    height: 40px;
    cursor: pointer;
}